apiVersion: v1
kind: Service
metadata:
  name: world-creator-ui
  namespace: terraria
  labels:
    app: world-creator-ui
spec:
  type: NodePort
  selector:
    app: world-creator-ui
  ports:
    - name: http
      port: 8787
      targetPort: 8787
      nodePort: 30878
