apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-loki-datasource
  namespace: monitoring
  labels:
    grafana_datasource: "1"
data:
  loki-datasource.yaml: |
    apiVersion: 1
    datasources:
      - name: Loki
        uid: loki
        type: loki
        access: proxy
        url: http://terrariadosbobo-loki-stack.monitoring.svc.cluster.local:3100
        isDefault: false
        editable: true
        jsonData:
          maxLines: 2000
